{# empty Twig template #}

{#{ kint(elements.content['#action']) }#}
<form id="topbar-search" action="{{ elements.content['#action'] }}" method="POST" class="hidden-sm hidden-xs">
    <div class="input-icon right text-white">
        <a href="{{ elements.content['#action'] }}"><i class="fa fa-search"></i></a>
        <input type="text" placeholder="Search here..." class="form-control text-white"/>
    </div>
</form>